<div class="jumbotron">
    <div class="container">
      <h1><i class="fa fa-check-circle-o"></i> Stuk.do</h1>
      <p>This is my smart to-do list Ruby-on-Rails application!</p>
      <p><%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
    </div>
</div>